/*@import 'core/variables';
@import 'core/reset';
@import 'components/code';
@import 'components/links';
@import 'layout/page';

@import 'layout/footer';
@import 'pages/index';
*/
@import 'components/reset';
@import 'layout/header';
@import 'layout/main';

:root {
    --blue-green: #099d8d;
    --aqua: #14d9c4;
}


.hero {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 2em;
    transform: translateY(-50%);
    background-color: white;
}